.header{
    color: rgb(255, 255, 255);
    font-weight: lighter;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: fixed;
    top: 0;
    background-color: #9ff5ff;
    z-index: 5;
}
index{
    border-bottom-left-radius: 15%;
    font-size: 60px;
    right: 580px;}
download{
    font-size: 60px;
    right: 280px;
}
chat{
    font-size: 60px;
    right: 0;}
donate{
    font-size: 60px;
    right: 440px;
    }

    index:hover {
        font-weight:bold;
        color:rgb(255, 255, 255);
        box-shadow: 0px 2px rgb(255, 255, 255);}
    download:hover {
        font-weight:bold;
        color:rgb(255, 255, 255);
        box-shadow: 0px 2px rgb(255, 255, 255);}
    chat:hover {
        font-weight:bold;
        color:rgb(255, 255, 255);
        box-shadow: 0px 2px rgb(255, 255, 255);}
    donate:hover {
        font-weight:bold;
        color:rgb(255, 255, 255);
        box-shadow: 0px 2px rgb(255, 255, 255);}
        .glow {
            display: flex;
            color: #fff;
            text-shadow: 0 0 10px #9ff5ff, 0 0 20px #9ff5ff, 0 0 30px #9ff5ff, 0 0 40px #ffffff, 0 0 70px #9ff5ff, 0 0 80px #ffffff, 0 0 100px #9ff5ff, 0 0 150px #9ff5ff;
        }
aifadian{
    color:#946CE6;
     cursor: pointer;
    display:flex;
    margin: 0 auto;
    position: absolute;
    background-color:white;
    border-radius: 20px;
    text-align:center;
    border: 2px solid;
    border-color: rgb(200, 200, 200);}
logo{
    top: 0;
    position: fixed;
    z-index: 5;
    -webkit-mask: radial-gradient(black 50%, transparent 100%);
}